SECRET_KEY=your_secret_key


# PostgreSQL: postgresql+psycopg://user:password@localhost/blog
DATABASE_URL=postgresql+psycopg://user:password@localhost/blog

MAIL_SERVER=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=noreply@fastapiblog.com
MAIL_USE_TLS=true
FRONTEND_URL=http://localhost:8000

S3_BUCKET_NAME=your_bucket_name
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=your-access-key-id
S3_SECRET_ACCESS_KEY=your-secret-access-key